body{
    font-family: Poppins;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
::selection{
    background-color: orange;
    color: white;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 80px;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg,lightSalmon, tomato);
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
}
.anchor-icon{
    text-decoration: none;
    margin-left: 5px;
    font-size: 25px;
}
.anchor-icon i:hover{
    transform: scale(1.3);
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#experence-box{
    border-left: 5px solid orange;
    -webkit-box-shadow: 0px 0px 26px 11px rgba(0,0,0,0.58); 
    box-shadow: 0px 0px 26px 11px rgba(0,0,0,0.58);
}
#certificate-img-div{
    margin-top: -150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 110px;
}
.certificates{
    width: 15%;
    margin-left: 60px;
    border: 2px solid white;
}
.certificates:hover{
    border: 2px solid black;
    -webkit-box-shadow: 1px 1px 28px -4px #FF673D; 
    box-shadow: 1px 1px 28px -4px #FF673D;
}
#experience-area{
    background-image: url("images/exp-bg-\(2\).png");
    background-repeat: no-repeat;
}
#ex-git-a{
    text-decoration: none;
    color: red;
}
#ex-git-a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    font-size: 12px;
}
